:root {
    --primary: black;
    --secondary: red;
    --tertiary: green;
}

/* ZERO OUT ANY USER-AGENT-ASSIGNED MARGINS, PADDINGS, ETC. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-header {
    background: url(./images/weather-banner2.png) 0 0 / cover no-repeat;
}

#input-label {
    min-width: 35%;
    font-size: 0.75em;
}

#submit-button {
    min-width: 25%;
    font-size: 0.75em;
}

#city-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#city-list {
    max-height: 250px;
    margin-bottom: 0px;
}

#city-list li {
    font-size: 1.5em;
}

#city-list + img {
    max-width: 250px;
}

#id-forecast-header {
    font-size: 2.25em;
    font-weight: bold;
}

.class-card {
    background-color: darkgoldenrod;
}

.class-card-header {
    font-size: 1.5em;
    font-weight: bold;
    color: blanchedalmond;
    text-align: center;
    border: none;
}

.class-card-body {
    padding: 0.5em 0 0.5em 0;
}

.card-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body ul li {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.1em;
    padding: .5em;
    color: blanchedalmond;
}

/***** MEDIA QUERY FOR MOBILE AND LARGER *****/
@media screen and (min-width: 576px) {
    #input-label, #submit-button, #previous-cities-div {
        font-size: 1em;
    }
}

/***** MEDIA QUERY FOR TABLET AND LARGER *****/
@media screen and (min-width: 768px) {
    #input-label, #submit-button, #previous-cities-div {
        font-size: 1.25em;
    }
}

/***** MEDIA QUERY FOR DESKTOP SCREEN AND LARGER *****/
@media screen and (min-width: 992px) {
    #page-header{
        background-position: 50%;
    }
}